{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="edit-post">
        <h1>Edit Post</h1>

        {{ form_start(edit_form) }}
            {{ form_row(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(edit_form.body, { 'attr': {'class': 'form-control', 'rows': '10'} }) }}
            <input id="save-post-btn" type="submit" class="btn btn-success" value="Save" />
        {{ form_end(edit_form) }}


        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

        <a href="{{ path('post_index') }}">Back to the list</a>
    </div>
{% endblock %}
