{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Posts</h1>

        <a class="btn btn-success" href="{{ path('post_new') }}">New Post</a>
        <a class="btn btn-default" href="{{ path('user_blog_index', { 'username': app.user.username}) }}">View Blog</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body|length > 50 ? post.body|slice(0, 50) ~ '...' : post.body }}</td>
                    <td>
                        <a class="btn btn-default btn-sm" href="{{ path('post_show', { 'slug': post.slug }) }}">view</a>
                        <a class="btn btn-default btn-sm" href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
