{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>New Post</h1>

        {{ form_start(form) }}
            {{ form_row(form.title, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.body, { 'attr': {'class': 'form-control', 'rows': '10'} }) }}

            <input type="submit" class="btn btn-default" value="Create" />
        {{ form_end(form) }}

        <a href="{{ path('post_index') }}">Back to the list</a>
    </div>
{% endblock %}
