{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }} <small>{{ post.author.username }}</small></h1>

    <div>
    {{ post.body }}
    </div>

    {% if is_granted('edit', post) or is_granted('ROLE_ADMIN') %}
    <div>
        <a class="btn btn-default" href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>

        {{ form_start(delete_form, { 'attr': { 'style': 'display: inline-block'} }) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <a href="{{ path('post_index') }}">Back to the list</a>
    {% endif %}
{% endblock %}
